#backer{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: rgba(10, 10, 10, 0.5);
    position: absolute;
    top: 5px;
    right: 10px;
}

#dimension-text{
    color: white;
}
